# Qt 编译生成
*.pro.user
*.pro.user.*
Makefile
Makefile.*
*.o
*.obj
*.exe
*.dll

# 编译输出目录
bin/
build-*/
release/
debug/
build/

# 临时文件
*.log
cookies.txt
run_stream.bat
temp_*.mp4

# IDE 配置
*.user
.qtcreator/